img.img-thumbnail {
  min-height: 100px;
  min-width: 100px !important;
  margin: 2px;
  object-fit: cover;
}

.btn {
  margin: 2px;
}

.btn-small {
  font-size: 11px;
}

.nv-file-over {
  border: dotted 3px red;
}

input[type=file] {
  color: transparent;
}
